# My important stuff
grocery-list.txt
knitting-patterns/
cat-pictures-of-meowingtons/

# Things I don't need on the internet
embarrassing-photos/
diary-2026.txt

# My cooking
secret-recipe-cake.txt
pie-crust-method-v3.docx

# Old things
floppy-disks/
my-first-website-hompage.html   
